// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style
$font-family-headings = KaiTi,"Times New Roman",Georgia, sans// 标题，修改成你期望的字体族
$font-family-base = SimSun, Verdana, sans-serif // 修改成你期望的字体族
$code-font-family = "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace